
body {
	font-family: Consolas, monaco, monospace;
	margin: 0px;
	padding: 0px;
	text-align: center;
	background-color: #0e0e0e;
	color: #e6e6e6;
	width:auto;
	height: auto;
	overflow: auto;
}


#parent {
	font-family: Consolas, monaco, monospace;
	margin: 0px;
	color: #e6e6e6;
	text-align: center;
	background-color: #040404;
	width:auto;
	height: auto;
	overflow: hidden;
}





#header{
	position: relative;
	background-color: #111111;
	color: #FFFFFF;
	padding: 0px;
	height: 40%;
	/* height: 260px; */
	overflow: hidden;
}


#heroimage{
	position: absolute;
	top: 0;
	left: 0;
	margin-top: -5%; /* Half the height */
	overflow: hidden;
	opacity:0.9;
	filter:alpha(opacity=50);
	height: auto;
}

#herooverlay{
	width: 100%;
	background-color: #000000;
	padding-bottom: 0px;
	/*	opacity:0.9; */
	/*	filter:alpha(opacity=50); */

}

#headlogo{
	width: 50%;
	position: absolute;
	top: 15%;
	left: 15px;
	padding-bottom: 0px;
	opacity:0.9;
	filter:alpha(opacity=50);
}


#headtitle{
	width: 50%;
	position: absolute;
	/*	float: right;  */
	top: 13%;
	right: 20px;
	padding-top: 4%;
	padding-bottom: 0px;
	opacity:0.9;
	filter:alpha(opacity=50);
}


#hsubscribe{
	width: 40%;
	float: right;
	border: 1px solid #000;
	background-color: #424242;

}


#navbar{
	width: 100%;
	height: 50px;
	line-height: 20px;
	margin-left: 0%;
	border: 0px solid #9E9E9E;
	clear: both;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	background-color: #424242;
	text-align: center;
	color: #00eeff;
}

span {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}



#tbody { display: none; }


#sidebar{
	width: 	13%;
	/*position: fixed; */
	top: 210px;

	margin: 0px auto 2px auto;
	margin-top: 1%;
	border: 0px solid #000;
	float: left;
	/*	text-align: left; */
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	display: block;
	background-color: #1e1e1e
}


#insidebar{
	width: 80%;
	margin: 2px auto 2px auto;
	/*	text-align: left; */
	padding-top: 2px;
	padding-left: 0px;
	padding-right: 2px;
	padding-bottom: 2px;
	display: block;
	border: 0px solid #00BCD4;

}








#content{
	display: inline-block
	width: 75%;
	margin-top: 1%;
	margin-left: 14%;
	margin-right: 1%;
	border: 0px solid #000;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	/*	padding-bottom: 10px; */
	background-color: #202020;
	height: fit-content;
}

#paddingdiv{
	width: 75%;
	margin-left: 14%;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}


#post{
	display: inline-block
	width: 90%;
	margin: 2px auto 2px auto;

	padding-top: 1%;
	padding-left: 1%;
	padding-right: 1%;
	padding-bottom: 2%;

	color: #F5F5F5;
	border: 0px solid #000;
	height: fit-content;
	overflow: hidden;             /* Add this */
}



#contentleft{
	width: 40%;
	margin: 3px auto 3px auto;
	border: 0px solid #000;

}

#footer{
	width: 75%;
	margin-left: 14%;
	margin-top: 10px;
	margin: 3px auto 3px auto;
	background-color: #2c2c2c;
	color: #e6e6e6;
	clear: both;
}

#insidefooter{
	width: 75%;
	margin-left: 14%;
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 3px auto 3px auto;
	background-color: #2c2c2c;
	color: #e6e6e6;
	clear: both;
}



p.maintitle {

	font-family: Consolas, monaco, monospace;
	font-size: 26px;
	font-weight: bold;
	color: #FFC107;
}

p.subheading {

	font-family: Consolas, monaco, monospace;
	font-size: 22px;
	font-weight: bold;
	color: #FFC107;
}


#pagetitlebox {
	width: 70%;
	margin: 1px auto 3px auto;
	color: #F9A825;
}


#pagetitleboxL {
	width: 50%;
	/*	margin-left: 0%;
	padding-left: 0px;
	/*	padding-right: 0px; */
	text-align: left;
	font-size: 20px;
	font-weight: bold;
	color: #F9A825;

}

#pagetitleboxR {
	width: 100%;
	/*	margin-left: 0%;
	margin-right: 5%;
	padding-left: 1px;
	padding-right: 1px; */
	text-align: right;
	font-size: 18px;
	font-weight: bold;
	color: #F9A825;
}


h1 {
	font-family: Consolas, monaco, monospace;
	font-size: 42px;
	font-style: bold;
	font-variant: bold;
	font-weight: 900;

}

h2 {
	font-family: Consolas, monaco, monospace;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;

}


h3 {
	font-family: Consolas, monaco, monospace;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;

}


h4 {
	font-family: Consolas, monaco, monospace;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	text-align: left;
	font-weight: 600;

}

hhigh {
	font-family: Consolas, monaco, monospace;
	font-size: 28px;
	font-style: bold;
	font-variant: normal;
	font-weight: 800;
	line-height: 15.4px;
	colour: white;
}

hlow {
	font-family: Consolas, monaco, monospace;
	font-size: 22px;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
	line-height: 15.4px;

}





p {
	font-family: Consolas, monaco, monospace;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}


blockquote {
	font-family: Consolas, monaco, monospace;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}


pre {
	font-family: Consolas, monaco, monospace;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}







p.bodytext {
	font-family: Consolas, monaco, monospace;
	text-align: left;
	font-size: 14px;
}


p.navtitle1 {
	font-family: Consolas, monaco, monospace;
	text-align: left;
	font-size: 16px;
	font-weight: bold;
	color: #FFC107;
}


p.navtitle2 {
	font-family: Consolas, monaco, monospace;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #00E5FF;
}


#datetime{
	font-family: Consolas, monaco, monospace;
	font-size: 22px;
	text-align: right;
	float: right;
	font-style: bold;
	font-variant: normal;
	font-weight: 800;
	line-height: 15.4px;
	color: #FFFFFF;
		padding-right: 20px;
}


p.date {
	font-family: Consolas, monaco, monospace;
	font-size: 22px;
	text-align: right;
	font-style: bold;
	font-variant: normal;
	font-weight: 800;
	line-height: 15.4px;
	color: #FFFFFF;
		padding-right: 20px;
}





img.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}


img.stretchy {
	width: 100%; /*Tells image to fit to width of parent container*/
}
.stcontainer {
	width: 33%; /*Use this to control width of the parent container, hence the image*/
}


img.clipped {
	width: 100%; /*Scales image to 150% width of parent container*/
	vertical-align: middle;
	float: top; /*Floats image to left of container - clipping right hand side*/
	float: bottom; /*Floats image to right of container - clipping left hand side*/
}

.ccontainer {
	width: 33%; /*Use this to control width of the parent container, hence the image*/
	overflow: hidden;
}

.helper {
	display: inline-block;
/*	height: 100%; */
	vertical-align: middle;

}


.link {font-weight:bold; }
.link:link { color:#03f0fc;}
.link:visited { color:#03f0fc;}
.link:hover { color:#18FFFF; background-color:#616161; }
.link:active { color:#18FFFF; }



/*  Envirostation Divs   */

#envirostation {
	display: inline-block;
	float: center;

	/*	margin-top: 1%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 5%; */

	padding-left: 1%;
	padding-bottom: 5%;
	padding-right: 1%;

	width: 95%;
	height: 95%;
	/*background-color: #0e0e0e; */
	background-image: radial-gradient(#2e2e2e 5%, #000000 90%);
	border-radius: 25px;
	/* with blur */
	box-shadow: 1px 1px 5px #18ffff;
	/* Without Blur */
	/*	box-shadow: 5px 5px #18ffff; */
}



#envirotitleblock {
	width: 70%;
	margin: 2px auto 3px auto;
	margin-top: 2%;
	padding-top: 1px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 1px;

	color: #F9A825;
	border-radius: 10px;
	background-image: radial-gradient(#181818 5%, #000000 90%);
	box-shadow: -2px 2px 5px #FFFFFF;
}


#databox {
	display: inline-block;
	float: left;
	margin-top: 1%;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 1%;
	width: 200px;
	height: 200px;
	/*background-color: #0e0e0e; */
	background-image: radial-gradient(#2e2e2e 5%, #000000 90%);
	border-radius: 25px;
	/* with blur */
	box-shadow: 4px 4px 10px #18ffff;
	/* Without Blur */
	/*	box-shadow: 5px 5px #18ffff; */
}


.dataUpdate	{
	padding: 15px;
  border: 1px solid #d6e9c6;
  border-radius: 4px;
  color: #3c763d;
  background-color: #dff0d8;
}



/*  Font layout for big data buttons  */
p.bigtext{
	color: #ffc107;
	font-size: 56px;
	display: block;
	margin-left: auto;
	margin-right: auto;

}
