
body {
	font-family: Consolas, monaco, monospace;
	margin: 0px;
	padding: 0px;
	text-align: center;
	background-color: #0e0e0e;
	color: #e6e6e6;
	width:auto;
	height: auto;
	overflow: auto;
}


#parent {
	font-family: Consolas, monaco, monospace;
	margin: 0px;
color: #e6e6e6;
	text-align: center;
	background-color: #020202;
	width:auto;
	height: auto;
	overflow: auto;
}





#header{
	background-color: #111111;
	color: white;
	padding: 1px;
	height: 100px;
}

#headlogo{
	width: 50%;
	float: left;
	padding-bottom: 20px;
	opacity:0.4;
	filter:alpha(opacity=40);
}



#headtitle{


}


#hsubscribe{
	width: 40%;
	float: right;
	border: 1px solid #000;
	background-color: #424242;

}


#navbar{
	width: 100%;
	height: 50px;
	line-height: 20px;
	margin-left: 0%;
	border: 0px solid #9E9E9E;
	clear: both;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	background-color: #424242;
	text-align: center;
	color: #00eeff;
}

span {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}



#tbody { display: none; }


#sidebar{
	width: 	13%;
	position: fixed;
	top: 210px;
	margin: 0px auto 2px auto;
	border: 0px solid #000;
	float: left;
	text-align: left;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	display: block;
	background-color: #424242;
}


#insidebar{
	width: 80%;
	margin: 2px auto 2px auto;

	text-align: left;
	padding-top: 2px;
	padding-left: 0px;
	padding-right: 2px;
	padding-bottom: 2px;
	display: block;
	background-color: #424242;
	border: 0px solid #00BCD4;

}








#content{
	width: 75%;
	margin-left: 14%;
	border: 0px solid #000;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	background-color: #202020;
}

#paddingdiv{
	width: 75%;
	margin-left: 14%;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

#post{
	width: 90%;
	margin: 2px auto 2px auto;

	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;

	color: #F5F5F5;
	border: 0px solid #000;

}



#contentleft{
	width: 40%;
	margin: 3px auto 3px auto;
	border: 0px solid #000;

}

#footer{
	width: 75%;
	margin-left: 14%;
	margin-top: 10px;
	margin: 3px auto 3px auto;
	background-color: #2c2c2c;
	color: #e6e6e6;
	clear: both;
}



p.maintitle {

	font-family: Consolas, monaco, monospace;
	font-size: 20px;
	font-weight: bold;
	color: #FFC107;
}

p.subheading {

	font-family: Consolas, monaco, monospace;
	font-size: 16px;
	font-weight: bold;
	color: #FFC107;
}


#pagetitlebox {
	width: 70%;
	margin: 3px auto 3px auto;
	color: #F9A825;
}


#pagetitleboxL {
	width: 100%;
	margin-left: 0%;
	padding-left: 0px;
	padding-right: 0px;
	text-align: left;
	font-size: 20px;
	font-weight: bold;
	color: #F9A825;

}

#pagetitleboxR {
	width: 100%;
	margin-left: 0%;
	padding-left: 5px;
	padding-right: 5px;
	text-align: right;
	font-size: 18px;
	font-weight: bold;
	color: #F9A825;

}


h1 {
	font-family: Consolas, monaco, monospace;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 800;
	line-height: 26.4px;
}

h2 {
	font-family: Consolas, monaco, monospace;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
	line-height: 15.4px;
}


h3 {
	font-family: Consolas, monaco, monospace;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
	line-height: 15.4px;
}





p {
	font-family: Consolas, monaco, monospace;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

blockquote {
	font-family: Consolas, monaco, monospace;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}

pre {
	font-family: Consolas, monaco, monospace;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}







p.bodytext {
	font-family: Consolas, monaco, monospace;
	text-align: left;
	font-size: 14px;

}

p.navtitle1 {

	font-family: Consolas, monaco, monospace;
	text-align: left;
	font-size: 16px;
	font-weight: bold;
	color: #FFC107;
}

p.navtitle2 {

	font-family: Consolas, monaco, monospace;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #00E5FF;
}

img.center{
	display: block;
	margin-left: auto;
	margin-right: auto;

}

.link {font-weight:bold; float:left; }
.link:link { color:#03f0fc;}
.link:visited { color:#03f0fc;}
.link:hover { color:#18FFFF; background-color:#616161; }
.link:active { color:#18FFFF; }
